<div class="page-header ">
	<blockquote>写博客</blockquote>
</div>
<form class="form-horizontal" >
	<div class="col-sm-11">
		<div class="form-group">
		    <label  class="col-sm-2 control-label">分类</label>
			<div class="col-sm-8">
				<!-- 这里 item.id as item.name for item in categories  
				我们使用 categories 对象的 id作为select的value，使用categories name 作为 select 的label -->
				<select class="form-control" ng-model="article.category" 
						ng-options="item.id as item.name for item in categories" required>
				</select>
			</div>
		</div>
		<div class="form-group">
		    <label  class="col-sm-2 control-label">标题</label>
			<div class="col-sm-8">
				<input type="text" class="form-control" placeholder="标题" ng-model="article.title" required>
			</div>
		</div>
		<div class="form-group">
		    <label  class="col-sm-2 control-label">正文</label>
			<div class="col-sm-8">
	    		<textarea class="form-control" rows="9" ng-model="article.content"></textarea>
			</div>
		</div>
		<div class="form-group">
		    <div class="col-sm-offset-2 col-sm-10">
		      	<input type="button" class="btn btn-default" value="保存" ng-click="save(article)"/>
		      	<input type="button" class="btn btn-default" value="发表" ng-click="post(article)"/>
		    </div>
	  	</div>
	</div>
</form>
