<div class="page-header ">
	<blockquote>博客列表</blockquote>
</div>
<div class="row col-sm-offset-1	">
  	<!-- Nav tabs -->
  	<ul class="nav nav-tabs col-sm-11" role="tablist">
	  	<li class="active" ng-click=""><a href="JavaScript:void(0)">全部 </a></li>
	  	<li ng-click="" ng-repeat="item in categories"><a href="JavaScript:void(0)">{{item.name}}</a> </li>
	  	<li class="" ng-click=""><a href="JavaScript:void(0)">草稿箱 </a></li>
	  	<li class="" ng-click=""><a href="JavaScript:void(0)">回收站 </a></li>
	</ul>
  	<!-- Tab panes -->
	<div ng-switch="category" class="tab-content ">
		<div ng-switch-default role="tabpanel " class="tab-pane active" >
	    	<ul class="list-group col-sm-11">
	    		<a ng-herf="{{item.id}}" class="list-group-item" ng-repeat="item in articles" >
				    <h3 class="list-group-item-heading">{{item.title}}</h3>
				    <blockquote >
					    <p class="list-group-item-text">
					    	<span class="label label-primary"><span class="glyphicon glyphicon-tag"></span>{{item.category.name}}</span>
					    	<span class="label label-warning"><span class="glyphicon glyphicon-user"></span>{{item.user.name}}</span>
					    	<span class="label label-danger"><span class="glyphicon glyphicon-time"></span>{{item.date}}</span>
					    </p>
				  	</blockquote>
				</a>
			</ul>
		</div>
		<div ng-switch-when="draft">
			
		</div>
		<div ng-switch-when="deleted">
			
		</div>
	</div>
</div>


