<div class="page-header ">
	<blockquote>{{article.title}}</blockquote>
</div>
<div class="lead col-sm-offset-1">{{article.content}}</div>
<div ng-show="USER.UID==article.user.id">
	<nav aria-label="...">
	  	<ul class="pager">
	    	<li><a href="#/user/edit/{{article.id}}">博客编辑</a></li>
	  	</ul>
	</nav>
</div>
<div class="row">
	<div class="col-sm-offset-1">
		<form class="form-inline" ng-submit="commit(comment)" name="forma" >
			<div class="form-group">
				<button class="btn  btn-xs" 
					ng-class="color(item.vote)"
					type="button" ng-repeat="item in comments"
					ng-click="vote(item.id,item.vote)">
				  	{{item.comment}} <span class="badge">{{item.vote}}</span>
				</button>
			</div>
		  	<div class="form-group">
			    <div class="input-group">
			      	<input type="text" class="form-control" name="comment" ng-model="comment" placeholder="评论,限15字以内" required>
			      	<span class="input-group-btn">
			        	<button type="submit" class="btn btn-default" ng-disabled="forma.comment.$invalid">提交</button>
			      	</span>
			    </div>
		  	</div>
		</form>
	</div>
</div>
