ul.navbar-left{
	overflow: hidden;
}
.nav>li{
	position: relative;
	width: 90px;
	height: 50px;
}
.nav>li:hover:not(.dropdown) a{
	transform : translateY(0px);
}
.nav>li:not(.dropdown)::before{
	content: '';
	width: 15px;
	height: 3px;
	position: absolute;
	top: 35px;
	left: 16px;
	z-index: 1;
	background-color: gray;
}
.nav>li:not(.dropdown) a{
	transition: transform 0.2s;
	transform : translateY(-50px);
}
.nav>li.active:not(.dropdown) a{
	transform : translateY(0px);
}
.nav>li:not(.dropdown) a::before{
	content: attr(title);
	width: 88px;
	height: 50px;
	position: absolute;
	top: 0;
	left: 0;
	padding: 15px;
	transform: translateY(50px);
	background-color: #333333;
	color: gray;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown-menu{
	background-color: #222222;
}
.dropdown-menu li a{
	color: white;
}
.navbar-form input{
	background-color: #333333;
	color: white;
	outline: none;
	border: none;
}
.navbar-form button{
	background-color: #333333;
	color: white;
	outline: none;
	border: 1px solid transparent;
}